{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Place 'Bets' on NCAA Men's Basketball Games</h1>
    {% for form in forms %}
    <div>
        <p>
            {{ form.team1.label }} {{ form.line1.label }} ({{form.odds1.label}})
            <b>vs.</b>
            {{ form.team2.label }} {{ form.line2.label }} ({{form.odds2.label}})
        </p>
    </div>
    <form action="" method="post" novalidate>
        {{ form.csrf_token() }}
        <p>
            Choose your team:<br>
            {{ form.team }}<br>
            {% for error in form.team.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.bet.label }}<br>
            {{ form.bet(size=32) }}<br>
            {% for error in form.bet.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.placeBet() }}</p>
        <hr>
    </form>
    {% endfor %}
{% endblock %}
