{% extends "base.html" %}

{% block app_content %}
    <table>
        <tr valign="top">
            <td style='padding-right: 25px'><img src="{{ user.avatar(64) }}"></td>
            <td><h1>{{ user.username }}</h1></td>
        </tr>
    </table>
    <hr>
    {% for bet in bets %}
    <p>
        You bet ${{ bet.value }} on {{ bet.team }} and netted ${{ bet.net }}.
    </p>
    {% endfor %}
    <br>
    {% if plot_url != None %}
        <img src={{ url_for('static',filename=plot_url) }} width='500'>
    {% endif %}
    <br>
    <h1>Conclude a bet for testing purposes:</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.bet_id.label }}<br>
            {{ form.bet_id(size=32) }}<br>
            {% for error in form.bet_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
